* 
{
    margin: 0;
    padding: 0;
}
/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../../../fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../../../fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  
  /* montserrat-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../../../fonts/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../fonts/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../fonts/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../../../fonts/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../fonts/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

:root
{
    --main-color: #e97d35;
    --main-color-hover: #ff6600;
    --text-color: #fff;
    --text-color-lighter: #b8b8b8;
}
body
{
    font-family: 'Montserrat';
    background-color: #222224;
}
.nav-container
{
    width: 100%;
    min-height: 75px;
    display: flex;
    align-items: center;
}
.navigation
{
    margin-left: auto;
}
.navigation a
{
    text-decoration: none;
    color: white;
    margin: 0 15px 0 15px;
    font-size: 20px;
}
.navigation a:last-child
{
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 12px 32px;
    margin: 0 50px 0 15px;
    text-align: center;
}
.navigation a:last-child:hover
{
    color: #222224;
}
.navigation a:hover
{
    color: var(--main-color-hover);
}

/* Quiz */
.wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
#question
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    border: 2px solid var(--main-color);
    border-radius: 20px 20px 0 0;
    width: 800px;
    height: 100px;
    padding: 15px;

    font-size: 30px;
}
#options
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    width: 800px;
    height: 300px;
    padding: 15px;
}
#options button
{
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    width: 50%;
    height: 50px;
    margin: 20px;

    font-size: 18px;
}
.correct
{
    background: green !important;
    border: 2px solid black !important;
    color: white !important;
}
.incorrect 
{
    background: red !important;
    border: 2px solid black !important;
    color: white !important;
}
#timer-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
    border: 2px solid var(--main-color);
    border-radius: 0 0 20px 20px;
    width: 800px;
    height: 100px;
    padding: 15px;

    font-size: 30px;
}
#timer 
{
    display: none;
}
