* 
{
    margin: 0;
    padding: 0;
}
:root
{
    --main-color: #e97d35;
    --main-color-hover: #ff6600;
    --text-color: #424242;
    --text-color-lighter: #868686;
    --mode-color: #fff;
}
.dark-theme
{
    --mode-color: #161616;
}
html
{
    scroll-behavior:smooth
}
body
{
    font-family: 'Montserrat';
    color: var(--text-color);
}
.bg-img
{
    background-image: url(../img/bg-index.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav-container
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.changedColor a
{
    transition: all 0.5s;
    color: var(--text-color) !important;
}
.topnav
{
    background: transparent;
    overflow: hidden;
}
.topnav a
{
    float: left;
    margin: 30px
}
.topnav a:first-child
{
    margin: 30px 30px 30px 100px;
}
.topnav a:last-child
{
    margin: 30px 100px 30px 30px;
}
.topnav-right
{
    float: right;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 105px;
}
.topnav-right a
{
    text-decoration: none;
    color: var(--mode-color);
    font-size: 18px;
}
#mode-icon
{
    width: 30px;
    cursor: pointer;
}
.hover-anim
{
    display: inline-block;
    position: relative;
}
.hover-anim::after
{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-anim:hover::after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.scroll-div::after
{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
}
.scroll-div h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--mode-color);
    text-align: center;
    white-space: nowrap;
    font-size: 60px;
}   
#scroll-button a 
    {
        padding-top: 70px;
    }
    #scroll-button a span 
    {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb05 1.5s infinite;
        animation: sdb05 1.5s infinite;
        box-sizing: border-box;
    }
    @-webkit-keyframes sdb05 
    {
        0% 
        {
            -webkit-transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }
        50% 
        {
            opacity: 1;
        }
        100% 
        {
            -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
    }
    @keyframes sdb05 {
        0% 
        {
            transform: rotate(-45deg) translate(0, 0);
            opacity: 0;
        }
        50% 
        {
            opacity: 1;
        }
        100% 
        {
            transform: rotate(-45deg) translate(-20px, 20px);
            opacity: 0;
        }
}
.scroll a 
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.scroll a:hover 
{
    opacity: .5;
}
.content-section
{
    position: relative;
    background-color: #e5e5e5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-main-title
{
    font-size: 50px;
    margin-bottom: 50px;
}
.content
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .content-image
{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.content .content-image img
{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content .content-text
{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}