*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body
{
    /*background: linear-gradient(to left, green, blue);*/
    background: #181818;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.back
{
    position: absolute;
    top: 30px;
    left: 30px;
}

.back a
{
    color: white;
    text-decoration: none;
}

.back a:hover
{
    text-decoration: underline;
}

.clock
{
    width: 600px;
    height: 600px;
    /*background-color: rgba(255, 255, 255, .8);*/
    background-color: #181818;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 1px 5px 20px rgb(255, 255, 255);
    position: relative;
}

.clock .numbers 
{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
    color: white;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .line
{
    --rotationline: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(var(--rotationline));
}

.clock .line::after
{
    content: '';
    position: absolute;
    bottom: 97%;
    left: 50%;
    width: 3px;
    height: 3%;
    background-color: white;
}

.clock .line1   { --rotationline: 6deg }
.clock .line2   { --rotationline: 12deg }
.clock .line3   { --rotationline: 18deg }
.clock .line4   { --rotationline: 24deg }
.clock .line5   { --rotationline: 36deg }
.clock .line6   { --rotationline: 42deg }
.clock .line7   { --rotationline: 48deg }
.clock .line8   { --rotationline: 54deg }
.clock .line9   { --rotationline: 66deg }
.clock .line10  { --rotationline: 72deg }
.clock .line11  { --rotationline: 78deg }
.clock .line12  { --rotationline: 84deg }
.clock .line13  { --rotationline: 96deg }
.clock .line14  { --rotationline: 102deg }
.clock .line15  { --rotationline: 108deg }
.clock .line16  { --rotationline: 114deg }
.clock .line17  { --rotationline: 126deg }
.clock .line18  { --rotationline: 132deg }
.clock .line19  { --rotationline: 138deg }
.clock .line20  { --rotationline: 144deg }
.clock .line21  { --rotationline: 156deg }
.clock .line22  { --rotationline: 162deg }
.clock .line23  { --rotationline: 168deg }
.clock .line24  { --rotationline: 174deg }
.clock .line25  { --rotationline: 186deg }
.clock .line26  { --rotationline: 192deg }
.clock .line27  { --rotationline: 198deg }
.clock .line28  { --rotationline: 204deg }
.clock .line29  { --rotationline: 216deg }
.clock .line30  { --rotationline: 222deg }
.clock .line31  { --rotationline: 228deg }
.clock .line32  { --rotationline: 234deg }
.clock .line33  { --rotationline: 246deg }
.clock .line34  { --rotationline: 252deg }
.clock .line35  { --rotationline: 258deg }
.clock .line36  { --rotationline: 264deg }
.clock .line37  { --rotationline: 276deg }
.clock .line38  { --rotationline: 282deg }
.clock .line39  { --rotationline: 288deg }
.clock .line40  { --rotationline: 294deg }
.clock .line41  { --rotationline: 306deg }
.clock .line42  { --rotationline: 312deg }
.clock .line43  { --rotationline: 318deg }
.clock .line44  { --rotationline: 324deg }
.clock .line45  { --rotationline: 336deg }
.clock .line46  { --rotationline: 342deg }
.clock .line47  { --rotationline: 348deg }
.clock .line48  { --rotationline: 354deg }

.clock .hand
{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translate(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after
{
    content: '';
    position: absolute;
    background-color: white;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second 
{
    width: 3px;
    height: 45%;
    background-color: red;
}

.clock .hand.minute
{
    width: 7px;
    height: 40%;
    background-color: blue;
}

.clock .hand.hour
{
    width: 10px;
    height: 33%;
    background-color: rgb(255, 255, 255);
}

.digclock
{
    color: white;
    font-size: 70px;
    text-align: center;
}

@media screen and (max-width: 600px) 
{
    .clock
    {
        width: 275px;
        height: 275px;
    }
}